body
{
    background-color: white;
    font-family: "monospace", Lucida Console;
    margin:0;
    padding: 0;
    height: 100%;
}
.container
{
}
.header
{
    background: white;
    height: 100px;
    padding: 10px;

    background-image:url('logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer
{
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 0px;
    left: 0;
    padding: 0px;
    background: #06a5f8;
    z-index:-1;

}
.menuBar
{
    width: 800px;
    text-align: center;
}
.menu
{
    margin: 0px;
    padding:0px;
    width: 1100px;

    background-color: black;
    color: purple;
    font-weight: bold;
    font-size: 20px; 

    position: relative;
    top: 0px;
}
.menu ul
{
    margin: 100;
    padding: 40;
    text-align: top;
}
.menu li a {
    background-color: green;
    color: black;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}
.menu li
{
    height: 40px;
    line-height: 40px;
    float: left;
    display: inline;
}

.menu li a:link, .menu li a:visited
{
    padding: 10px;
    display: block;
    text-decoration:none;
}
.menu li a:hover
{
    background-color: white;
    color: purple;
    display: block;
    font-weight: bold;
    font-size: 20px;
}
.cont
{
    background:none;
    padding:0px;
    width: 800px;
    height: auto;
    top: 50px;
    position: relative;
}
.contributors img{
    width: 100px;
    height: 100px;
}
h1{
    text-align:center;
    color:purple;
}
h2{
     text-align: right;
     color: blue;
     font-size: 30px;
 }
p{
    text-indent: 10px;
    margin:10px;
    line-height: 1.5;
    text-align: left;
}
td, th, tr
{
    border:1px solid black;
}

table
{
    width: 100%;
    font-weight: bold;
    text-align: left;
}
